@font-face {
  font-family: IranSans;
  src: url("../fonts/Iransans/IRANSansWeb.woff") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #080808;
  --black: #121212;
  --text: #cdcdcd;
  --blue: #708090;
  --red: #b6927b;
  --gray: #707070;
  --yellow: #f4bf75;
  --mobile-gap: 2rem;
  --mobile-margin: 1rem;
  --font: IranSans;
  direction: rtl;
  text-align: right;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
  max-width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

/* global */
p {
  line-height: 2;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--red);
}

.post blockquote {
  border-right: 5px solid var(--gray);
  background-color: var(--black);
  padding: 0.5rem 1rem;
  > p {
    margin: 0;
  }
  border-radius: 5px;
}

/* Dark mode */
.dark {
  color: var(--text);
  background: var(--bg);
}

/* Light theme */
.light {
  color: var(--bg);
  background: var(--text);
  blockquote {
    background-color: var(--gray);
    border-right: 5px solid var(--black);
  }
}

.switcher i:hover {
  cursor: pointer;
  color: var(--red);
}

/* header: navbar */
header {
  margin: 3em 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu ul {
  display: flex;
  gap: 1rem;
}

.ham {
  display: none; /* Hidden by default (for desktop) */
  cursor: pointer;
  font-size: 24px;
}

/* Intro (me) section */
.intro {
  margin: 6rem 0;
  display: flex;
  gap: 4rem; /* gap between image and slogan */
}

.me img {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  border: 5px solid transparent;
  background: linear-gradient(to top, var(--blue), var(--red)) border-box;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slogan h1 {
  font-size: 2rem;
  /* For animation */
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.5s steps(40, end);
}

.slogan h2,
.social-links {
  animation: fadeIn 5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.slogan h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
  margin-top: 0.5rem;
}

.social-links ul {
  display: flex;
  gap: 2rem; /* gap between social links */
  margin-top: 1rem; /* margin between social links and slogan */
}

/* recent posts */
.post-list {
  margin-top: 0.5rem;
}

/* apply only from second child */
.post:nth-child(n + 2) {
  margin-top: 2rem; /* margin between each post */
}

.post h2 {
  margin-block: 2.5rem 0;
}

.post p {
  margin-block: 0.2em 1em;
}

.post ul {
  list-style-type: disc;
  margin-block: 0.2em 1em;
  margin-right: 2em;
}

/* p that has a ul after */
.post p:has(+ ul) {
  margin-bottom: 0;
  font-weight: bold;
}

.post img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-block: 2em 1em;
  border-radius: 5px;
}

/* img caption */
.post p:has(img) + p {
  color: var(--gray);
  text-align: center;
  font-size: 0.9rem;
}

.post-info {
  /* padding: 0.5rem 0; */
  font-size: 0.9rem;
}

.post-info ul {
  margin-right: 0;
}

.post-info ul li {
  color: var(--gray);
  display: inline;
  padding-left: 1rem;
}

.post-info ul li i {
  padding-left: 5px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 3em;
  padding-bottom: 2em;
}

footer h3 {
  color: var(--gray);
  font-size: 0.85rem;
}

/* links in footer */
footer div ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* About me */
.about {
  margin: 3rem 0;
}

.about h2:nth-child(n + 2) {
  margin-top: 1.5rem;
}

/* Blog */
.blog {
}

@media (max-width: 1024px) {
  body {
    min-width: 75%;
  }
}
/* responsive */
@media (max-width: 768px) {
  body {
    min-width: 85%;
    margin: var(--mobile-margin) auto;
  }

  header {
    margin: var(--mobile-margin) 0;
  }

  nav ul li a {
    font-size: 0.75rem;
  }

  .logo a {
    font-size: 1.2rem;
  }

  .menu ul {
    display: none;
    flex-direction: column;
    background-color: var(--bg);
    border: 2px solid var(--text);
    position: absolute;
    top: 3rem;
    left: 50px;
    width: 100%;
    max-width: 150px;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: all 0.4s ease;
    opacity: 0.85;
  }

  .menu ul.active {
    display: block;
    height: 150px;
  }

  .menu ul.active li {
    padding: 0.5rem 0;
  }

  .menu ul.active li a {
    font-size: 1rem;
    font-weight: bold;
  }

  .ham {
    display: block;
    cursor: pointer;
  }

  .ham i {
    transition:
      transform 0.4s ease,
      opacity 0.4s ease;
  }

  /* Rotate and fade effect for icons */
  .rotate-in {
    transform: rotate(90deg); /* Rotating 90 degrees when cross icon shows */
    opacity: 0; /* Initial fade-out */
  }

  .rotate-out {
    transform: rotate(0deg); /* Reset rotation to original */
    opacity: 1; /* Fade-in the bars icon */
  }

  .intro {
    flex-direction: column;
    margin: 3rem 0;
    gap: 1rem; /* gap between image and slogan */
  }

  .intro .me {
    display: flex;
    justify-content: center;
  }

  .slogan h1 {
    font-size: 1.5rem;
  }

  .slogan h1 span {
    font-size: 0.75rem;
  }

  .social-links ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
