<!doctype html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Saeed Gholami | سعید غلامی" />
    <meta property="og:description" content="آموزش و تدریس برنامه نویسی" />
    <meta
      property="og:image"
      content="https://s32.picofile.com/file/8480111242/me.jpg"
    />
    <meta property="og:url" content="https://ostadsgo.github.io/" />
    <meta property="og:type" content="website" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/pygments.css">
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/script.js" defer></script>
    <title>{title}</title>
  </head>
  <body>
    <header>{nav}</header>
    <main>{content}</main>
    <footer>{footer}</footer>
  </body>
</html>
