<h3>Saeed Gholami<i class="fa-regular fa-copyright"></i></h3>
<div>
  <ul>
    <li>
      <a href="https://t.me/ostadsgo"><i class="fa-brands fa-telegram"></i></a>
    </li>
    <li>
      <a href="https://instagram.com/ostadsgo"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/ostadsgo"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a href="https://youtube.com/ostadsgo"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </li>
    <li>
      <a href="https://linkedin.com/in/saeedxgholami/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
  </ul>
</div>
