<!-- Intro -->
<section class="intro">
  <div class="me">
    <img src="./static/img/me.jpg" alt="عکس من" />
  </div>
  <div class="slogan">
    <div>
      <h1>برنامه نویس و مدرس پایتون</h1>
      <h2>از تبدیل ایده به واقعیت تا خلق تجربه ای ناب در آموزش</h2>
    </div>
    <div class="social-links">
      <ul>
        <li>
          <a href="https://t.me/ostadsgo">
            <i class="fa-brands fa-telegram"></i>
            تلگرام
          </a>
        </li>
        <li>
          <a href="https://instagram.com/ostadsgo">
            <i class="fa-brands fa-instagram"></i>
            اینستاگرام
          </a>
        </li>
        <li>
          <a href="https://github.com/ostadsgo">
            <i class="fa-brands fa-github"></i>
            گیت‌هاب
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Recent articles -->
<section class="recent-posts">
  <h2>نوشته های اخیر</h2>
  <div class="post-list">
    {articles}
  </div>
</section>
